extends layout

block content
  h1(align='center')= title
    h2
        img.promotionImage(src=promotionImageSource)
    h2 New Items
    br
    h6
        .gallery
          a(target='_blank' href=firstImage)
            img(src=firstImage alt='Cinque Terre' width='600' height='400')
          .desc Add a description of the image here
        .gallery
          a(target='_blank' href=secondImage)
            img(src=secondImage alt='Forest' width='600' height='400')
          .desc Add a description of the image here
        .gallery
          a(target='_blank' href=thirdImage)
            img(src=thirdImage alt='Northern Lights' width='600' height='400')
          .desc Add a description tof the image here
        .gallery
          a(target='_blank' href=fourthImage)
            img(src=fourthImage alt='Mountains' width='600' height='400')
          .desc Add a description of the image here
    br
